<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">

  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Melody Music School</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About us</a></li>
            <li><a href="{{ url_for('about') }}">Students</a></li>
              <ul class="sub-menu">
                <li><a href="{{ url_for('show_students') }}">Show all student</a></li>
                <li><a href="{{ url_for('add_student') }}">Add new student</a></li>
                <li><a href="{{ url_for('change_student') }}">Change student record</a></li>
              </ul>
            <li><a href="{{ url_for('classes') }}">Classes</a></li>
            <li><a href="{{ url_for('grades') }}">Grades</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    {% block content %}
    {% endblock %}

  </body>
</html>
